Inconsistent handling of invalid headers causes unexpected behavior

### Description

The following code:

```php
<?php
header( "X-Foo;: hello" );
header( "X-Foo\t: hello" );
header( "X-Foo\n: hello" );
```

The 3rd one results in a warning (`Header may not contain more than a single header, new line detected`) and the header is not set.
The other 2 however are sent without a warning. The 2nd one will get fixed by nginx, however the 1st one passes through (see https://github.com/nginx/nginx/issues/899)

This not only is inconsistent, this also allows for certain attack vectors if the request is proxied and the proxy does not handle the invalid headers correctly (sorry, can't go into detail on this at this moment in time, due to pending security reports)

Since headers are apparently getting validated in PHP already (otherwise we wouldn't have an error for the 3rd one), this validation should be fixed to strictly check if the provided header adheres to the HTTP header standards


### PHP Version

```plain
PHP 8.4, however affects previous PHP versions similarly
```

### Operating System

_No response_

Validation is very rudimentary at the moment. The code is not currently intended to validate fully, so reclassifying as a feature request. The docs also indicate that:

https://www.php.net/manual/en/function.header.php

> `header()` is used to send a raw HTTP header.

Implying that no sanitization will take place.

That aside, the docs also link to [RFC 822](https://datatracker.ietf.org/doc/html/rfc822#section-3.1.2), which says:

> The field-name must be composed of printable ASCII characters (i.e., characters that  have  values  between  33.  and  126., decimal, except colon)

This spec does actually allow `;` as part of the field name. This did not change in RFC 2822 or RFC 5322. Hence, I'm not sure such a validation would be correct, which is likely also why nginx accepts them.

@TimWolla Yeah, I must've accidentally removed the leading `2`.

> Which isn't the case, since there is some sanitization taking place.

Sanitization is something different than validation.

> But validating a few cases but not others, is what currently led to some serious issues in multiple commonly used web proxies.

I don't see how incomplete validation would cause this. Sanitization (i.e. making stuff up), yes. But for validation there is only three cases:

1. The field is valid.
2. The field is not valid and emitted.
3. The field is not valid and rejected.

I don't see how doing (2) + (3) would be any more unsafe than just doing (2).

I agree that stricter validation on PHP’s end would be good (e.g. for improved DX), but I don't see how the current situation is worse than complete “garbage in garbage out”. In fact the current validation is protecting against some important attack vectors, since the field value is often attacker-controlled, whereas the field name is unlikely to be.