PHP Development Server considers a query with an emoji a 'Malformed HTTP request'

### Description

The following code:

```
php -S 127.0.0.1:8080 &
curl 'http://127.0.0.1:8080/?🐦'
```

Resulted in this output:
```
[Fri Mar 21 18:07:22 2025] 127.0.0.1:49588 Invalid request (Malformed HTTP request)
```

But I expected this output instead:
```
[404]: GET /?🐦 - No such file or directory
```
A 404 is expected because there is no index.php, but it still indicates successful parsing  of the request.

### PHP Version

PHP 8.3.17

### Operating System

Fedora 41

The error is correct. `curl` sends the Emoji as-is on the wire:

```
GET /?🐦 HTTP/1.1
Host: 127.0.0.1:8080
User-Agent: curl/8.5.0
Accept: */*
```

This is the `origin-form` of RFC 9112, which is defined in terms of `absolute-path` from RFC 9110, which in turn is defined in terms of `segment` from RFC 3986, which requires percent-encoding for all non-ASCII characters.